{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->

<!--  -->
{% block title %} Account Recovery {% endblock %}
<!--  -->

{% block body %}
<!--  -->
{% include 'notifications.html' %}
<!--  -->

<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container is-fluid">
      <div
        class="is-flex is-flex-direction-row is-justify-content-space-between is-align-items-center px-6 mx-6"
      >
        <div class="">
          <p class="title">Uranium Glass Account Recovery</p>
          <p class="subtitle">Update Your Password</p>
        </div>
        <div class="">
          {% if redirect_url %}
          <p class="has-text-centered">
            Update successful! Go to <a href="{{ redirect_url }}">sign-in</a>.
          </p>
          {% else %}
          <form action="{% url 'update_password' %}" method="POST">
            <!--  -->
            {% csrf_token %}
            <!--  -->
            <div class="field">
              <label class="label">New Password</label>
              <div class="control">
                <input class="input" name="password" type="password" required />
              </div>
            </div>
            <div class="field mb-5">
              <label class="label">Confirm New Password</label>
              <div class="control">
                <input
                  class="input"
                  name="confirm_password"
                  type="password"
                  required
                />
              </div>
            </div>
            <div class="control">
              <button type="submit" class="button is-primary is-fullwidth">
                Submit
              </button>
            </div>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</section>
<!--  -->
{% endblock %}
